body {
    margin: 0;
}
.page {
    background-color: #FCF5E5;
    width: 100%;
    color: #212121;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
    margin: 0 auto;
    max-width: 1280px;
}