.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, .4) solid;
}

.profile__avatar {
    width: 190px;
    height: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.profile__name {
    max-width: 420px;
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__description {
    max-width: 420px;
    margin: 0;
    opacity: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__edit-btn {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    opacity: 70%;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    transition: opacity .3s linear;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: 100%;
}

.edit-icon {
    margin-right: 8px;
}

.profile__new-post-btn {
    margin-left: auto;
    margin-top: auto;
    border: none;
    border-radius: 8px;
    background-color: #212121;
    color: #FCF5E5;
    width: 157px;
    height: 52px;
    padding: 18px 24px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    transition: opacity .3s linear;
    cursor: pointer;
}

.profile__new-post-btn:hover {
    opacity: 80%;
}

.plus-icon {
    margin-right: 8px;
}

@media screen and (max-width: 650px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        padding: 20px 0;
    }

    .profile__avatar {
        height: 80px;
        width: 80px;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .profile__column {
        margin: 0 auto;
    }

    .profile__name {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 6px;
        font-size: 20px;
        max-width: 288px;
    }

    .profile__description {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 32px;
        max-width: 288px;
    }

    .profile__edit-btn {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .profile__new-post-btn {
        width: 100%;
        padding: 0;
    }
}