.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgb(33, 33, 33, .4) solid;
}

.profile__avatar {
    margin-right: 20px;
    border-radius: 10px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
}

.profile__description {
    margin: 0;
    opacity: 70%;
}

.profile__edit-btn {
    margin-top: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    opacity: 70%;
    padding: 0;
    
}

.edit-icon {
    margin-right: 8px;
}

.profile__new-post-btn {
    margin-left: auto;
    margin-top: auto;
    border: none;
    border-radius: 20px;
    background-color: #212121;
    color: #FCF5E5;
    width: 149px;
    height: 52px;
    padding: 18px 24px 18px 32px;
}

.plus-icon {
    margin-right: 8px;
}